<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        <h1>Welcome ...</h1>
        <div class="con_body">
            <div class="left_side">
                <div class="img_div">
                    <img src="./IMG_6094.jpg">
                </div>
                <button class="common edit_btn">Edit Profile</button><br>

                <button class="common edit_btn">Delete Profile</button>                
            </div>
            <div class="right_side">
                <button class="common">Request</button><br><br><br>

                <div class="search">
                    <h4>Show Doners</h4>
                    <div class="loc">
                        <label class="location" for="location">Location</label>
                        <input type="text" id="location" name="location">
                        <input class="pr_btn .btn_snd" type="submit" value="Search"><br>
                    </div>
                    <div class="bg">
                        <label for="b_group">Blood Group</label>
                        <select name="b_group" id="b_group">
                            <option class="option" value="A">A</option>
                            <option class="option" value="B">B</option>
                            <option class="option" value="C">C</option>
                            <option class="option" value="D">D</option>
                        </select>
                        <input class="pr_btn .btn_snd" type="submit" value="Search">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>