<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        <div class="con_body">
        <div class="left_req">
            <h2>Request For</h2>
        </div>
        <div class="right_req">
            
                <div class="loc">
                    <label class="gender" for="p_gender">Patient Gender</label>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Other</label><br><br>
                    <label class="b_group" for="b_group">Blood Group</label>
                    <input class="cmn" type="text" id="b_group" name="b_group"><br><br>
                    <label class="h_name" for="h_name">Hospital Name</label>
                    <input class="cmn" type="text" id="h_name" name="h_name"><br><br>
                    <label class="h_location" for="h_location">Hospital Location</label>
                    <input class="cmn" type="text" id="h_location" name="h_location"><br><br>
                    <label class="p_no" for="p_no">Phone No.</label>
                    <input class="cmn" type="text" id="p_no" name="p_no"><br><br>
                    <label class="b_need" for="b_need">Blood Need</label>
                    <input class="cmn" type="text" id="b_need" name="b_need"><br><br>
                    <label class="description" for="description">Description</label>
                    <input class="cmn" type="text" id="description" name="description"><br><br>
                    <input class="pr_btn btn_src .btn_snd" type="submit" value="Search"><br><br>
                </div>
        </div>
    </div>
    </div>
</body>
</html>